.open-hours-div{
    font-size: 20px;
    color: rgb(8, 8, 8);
    text-align: center;
    border-style: solid;
}
.landing-page{
    font-size: 30px;
    color: rgb(8, 8, 8);
    text-align: center;
}

.column{
    float: left;
    width: 33.3%;
    height: 400px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}